html{
  background-color: pink;
}

.titles{
  text-align: center;
  font-size: 25px
  
}

/*.tables{*/
/*  text */
/*}*/

/*.buttons {*/
/*  border-radius: 100%;*/
/*  width: 80px;*/
/*  height: 80px;*/
  
/*}*/

.container {
  border: 1px solid red;
  max-width: 500px;
  margin: auto;
}

.row {
  display: flex;
  height:150px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white
}

.row div {
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  ;
}

.formContainer{
  align-content: center;
  
}


.form {
  background-color: #ffffff;
  top: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 320px;
  text-align: center;
  align-content: center;
  
}
.form p{
  color: red;

}
.close-classic:after {
  content: 'X'; /* ANSI X letter */
}



/*#close:before {*/
/*  content: "✖";*/
/*  border: 1px solid gray;*/
/*  background-color:#eee;*/
/*  padding:0.5em;*/
/*  cursor: pointer;*/
  
/*}*/

.hidden{
  display: none;
}